In [1]:
import pandas as pd
from sqlalchemy import create_engine

def load_dataframe_to_postgres(df, connection_string, table_name, schema=None, if_exists='fail'):
    """
    Load a pandas DataFrame into a Postgres database.

    :param df: pandas DataFrame that you want to load into the database.
    :param connection_string: Connection string for the Postgres database.
    :param table_name: Name of the target table in the Postgres database.
    :param schema: Specify the schema (if database flavor supports this). If None, use default schema.
    :param if_exists: How to behave if the table already exists.
                      ('fail', 'replace', 'append'), default 'fail'.
    """
    # Create the SQLAlchemy engine
    engine = create_engine(connection_string)

    # Write records stored in the DataFrame to the specified table
    df.to_sql(table_name, engine, schema=schema, if_exists=if_exists, index=False)

    # Dispose the engine
    engine.dispose()

# Example usage:

# Define the DataFrame here
# df = pd.DataFrame({
#     'column1': [1, 2, 3],
#     'column2': ['A', 'B', 'C']
# })

# Connection string
connection_str = "postgresql+psycopg2://postgres:postgres@localhost:5433/postgres"

# Load the DataFrame to the Postgres database
# load_dataframe_to_postgres(df, connection_str, 'your_table_name')

In [28]:
import os

def process(file_path_name_without_parent_folders):
    # Replace with your actual processing code
    print(f"Processing {file_path_name_without_parent_folders}...")

# Define the directory to walk through
root_dir = "/Users/i.kalinkin/PycharmProjects/ai-bi-ultra/AIBI"

for root, dirs, files in os.walk(root_dir):
    for filename in files:
        # if filename.ends
        # Get the full path of the file
        file_path = os.path.join(root, filename)

        # Extract the path relative to the parent folder
        relative_path = os.path.relpath(file_path, root_dir)
        if not relative_path.endswith(".csv"):
            continue
        # Call the processing function with the relative path (without parent folders)
        # process(relative_path)
        print(relative_path)
        table_df = pd.read_csv(file_path, delimiter=';')
        table_name = relative_path.removesuffix('.csv')
        load_dataframe_to_postgres(table_df, connection_str, table_name, if_exists='replace')

del_type_dict.csv
orders_aibi.csv
del_option_dict.csv
status_dict.csv
del_type.csv
warehouse_dict.csv

In [10]:
orders = pd.read_csv('AIBI/orders_aibi.csv', delimiter=';')

In [13]:
orders

,ord_id,store_id,status,client_id,created_dt,del_store_id,start_del_dt,delivered_dt,sla,del_option,courier_id,adress_id
0,ce419997-cbd6-48a1-a259-70461fc08873,db1a70da-f3df-11ed-ae78-08c0eb320147,1,67228854,2024-01-02 15:33:27.211,db1a70da-f3df-11ed-ae78-08c0eb320147,2024-01-02 15:52:00.305,2024-01-02 16:08:11.618,PT15M,1,108763ac-cf86-41d8-a031-c41718374b00,453351839
1,c22a9f03-50ac-4225-b0c5-f2492752fc30,c5aee1cc-ac5b-11ed-885d-08c0eb32014b,1,9092398,2024-01-02 18:11:54.756,c5aee1cc-ac5b-11ed-885d-08c0eb32014b,2024-01-02 18:19:56.870,2024-01-02 18:31:36.717,PT15M,1,8b94e675-ed85-4319-8f15-6020488ad975,453441751
2,1dad72c5-a1af-4a70-b7ef-dfe94b426d02,24c9b6fc-7467-11ec-8856-08c0eb32014b,1,541141223,2024-01-02 13:40:27.304,24c9b6fc-7467-11ec-8856-08c0eb32014b,2024-01-02 13:49:15.059,2024-01-02 14:04:05.970,PT15M,1,3d68b367-1aef-40b8-878a-70210631a8c6,453281423
3,ac67fd31-01f7-457a-9de9-e0e7422b3373,e5bb6543-c265-11ed-885d-08c0eb32014b,7,690645802,2024-01-02 14:40:57.924,e5bb6543-c265-11ed-885d-08c0eb32014b,NaN,NaN,PT15M,1,NaN,453319252
4,422bc6ca-60a2-4d3d-83c7-678b5dad8f6c,24c9b6fc-7467-11ec-8856-08c0eb32014b,7,73163984,2024-01-02 14:48:15.259,24c9b6fc-7467-11ec-8856-08c0eb32014b,NaN,NaN,PT15M,1,NaN,453323791
...,...,...,...,...,...,...,...,...,...,...,...,...
91475,6c1f629f-59bc-4336-98c8-cc8fcfdd9cf2,db1a70da-f3df-11ed-ae78-08c0eb320147,1,729086545,2024-02-12 08:11:14.181,db1a70da-f3df-11ed-ae78-08c0eb320147,2024-02-12 08:15:40.583,2024-02-12 08:23:36.265,PT15M,1,0f69e4cd-ecf4-434a-a994-702b94aff5fd,481516662
91476,fb37d698-6941-4b66-810a-3ecf4108369e,24c9b6fc-7467-11ec-8856-08c0eb32014b,1,548070068,2024-02-12 13:55:02.841,24c9b6fc-7467-11ec-8856-08c0eb32014b,2024-02-12 14:00:16.405,2024-02-12 14:03:37.155,PT15M,1,84ce309c-c350-43d7-9531-3de3c6f17e2c,481788531
91477,c2db39e6-3433-4842-8781-9c7d1609a4a3,b18f1dcf-ac5c-11ed-885d-08c0eb32014b,1,810455348,2024-02-12 17:45:00.019,b18f1dcf-ac5c-11ed-885d-08c0eb32014b,2024-02-12 17:47:18.611,2024-02-12 18:04:19.177,PT15M,1,891eff8d-0f9e-4932-b7e4-e5dcfe1258fa,482002879
91478,2641a214-5882-4550-9141-0cf7ce01212e,c5aee1cc-ac5b-11ed-885d-08c0eb32014b,1,673789560,2024-02-12 16:43:38.232,c5aee1cc-ac5b-11ed-885d-08c0eb32014b,2024-02-12 16:46:23.048,2024-02-12 16:58:45.049,PT15M,1,2773704b-2052-4180-a820-b4a514efcbd9,481948463
91479,0911ccbc-8394-4fcb-bd38-148ecd0ebba2,b18f1dcf-ac5c-11ed-885d-08c0eb32014b,1,674394181,2024-02-12 18:14:26.373,b18f1dcf-ac5c-11ed-885d-08c0eb32014b,2024-02-12 18:16:30.644,2024-02-12 18:48:31.524,PT30M,1,753ea563-b00b-4c43-8110-6126ce0b8d1f,482024412

In [2]:
df = pd.DataFrame([{"id": 2, "name": "cock", "salary": 12000}])
df

   id  name  salary
0   2  cock   12000

In [15]:
load_dataframe_to_postgres(orders, connection_str, "orders", if_exists='append')

In [5]:
def list_db_connections(url):
    """
    Send a GET request to list all the existing database connections using the specified API.
    :param url: The URL to send the GET request to.
    """
    headers = {
        'accept': 'application/json',
    }
    # Send the GET request
    response = requests.get(f"{url}/database-connections", headers=headers)
    # Raise an exception for HTTP errors if any
    response.raise_for_status()
    return response.json()

# Example usage (Replace with actual parameters)
db_connections = list_db_connections(
    url='http://127.0.0.1/api/v1'
)
print(db_connections)

[{'id': '65c8fae0d301990f32012b60', 'alias': 'my_db_alias', 'use_ssh': False, 'connection_uri': 'gAAAAABlyPrgrpGfV912xP8BafmcLATilcr7dAc56J4PuJhRRuE1IyDlYD27yfpW3BBJCrbEp0xpIFbHt7AVaxYi9qdsfOK5JhWJwU4R_EtNSVIrMADIe9c=', 'path_to_credentials_file': None, 'llm_api_key': '', 'ssh_settings': None, 'file_storage': None, 'metadata': None, 'created_at': '2024-02-11T16:50:40.748000+00:00'}, {'id': '65cb435763d3c09117e22634', 'alias': 'my_db_alias2', 'use_ssh': False, 'connection_uri': 'gAAAAABly0NX82EjiIjo4mc4Lhct7fJhomEP2qC88136bGw_v0j8Gv2vENpxRPbZwf2FiVSSrmrObOB66uIpFp5Fh5ZY2CftAPUtQ5t08JYIG0QDxBO_8umFgCeJTSJZ9w7RFYGdPkBRI5ghp4pRc1KV6DjAEIIs6A==', 'path_to_credentials_file': None, 'llm_api_key': '', 'ssh_settings': None, 'file_storage': None, 'metadata': None, 'created_at': '2024-02-13T10:24:23.244000+00:00'}]

In [6]:
import requests
import json

def create_prompt(url, text, db_connection_id, metadata=None):
    """
    Send a POST request to create a prompt using the specified API.
    :param url: The URL to send the POST request to.
    :param text: The text prompt to generate SQL from.
    :param db_connection_id: The database connection ID.
    :param metadata: Additional metadata to send with the prompt (can be None).
    """
    headers = {
        'accept': 'application/json',
        'Content-Type': 'application/json',
    }
    data = {
        "text": text,
        "db_connection_id": db_connection_id,
        "metadata": metadata if metadata is not None else {},
    }
    # Send the POST request
    response = requests.post(url, headers=headers, data=json.dumps(data))
    # Raise an exception for HTTP errors if any
    response.raise_for_status()
    return response.json()

def get_sql_generation(url, sql_generation_id):
    """
    Send a GET request to retrieve a SQL generation using the specified API.
    :param url: The URL to send the GET request to.
    :param sql_generation_id: The ID of the SQL generation to retrieve.
    """
    headers = {
        'accept': 'application/json',
    }
    # Send the GET request
    response = requests.get(f"{url}/{sql_generation_id}", headers=headers)
    # Raise an exception for HTTP errors if any
    response.raise_for_status()
    return response.json()

# Example usage (Replace with actual parameters)
prompt_response = create_prompt(
    url='http://127.0.0.1/api/v1/prompts',
    text='What is the average salary of employees in the company?',
    db_connection_id='65c8fae0d301990f32012b60'
)
print(prompt_response)
#
# sql_generation_response = get_sql_generation(
#     url='http://127.0.0.1/api/v1/sql_generations',
#     sql_generation_id='65971ec8d274e27e2a360457'
# )
# print(sql_generation_response)
#

{'id': '65d382a347cb9e5d515962e5', 'metadata': {}, 'created_at': '2024-02-19T16:32:35.176790+00:00', 'text': 'What is the average salary of employees in the company?', 'db_connection_id': '65c8fae0d301990f32012b60'}

In [7]:
def create_sql_nl_response(url, prompt_id, llm_config, max_rows, sql_generation, metadata=None):
    """
    Send a POST request to create a SQL query and NL response for a given prompt using the specified API.
    :param url: The URL to send the POST request to.
    :param prompt_id: The ID of the prompt to create a SQL query and NL response for.
    :param llm_config: The configuration for the language model that will be used for NL generation.
    :param max_rows: The maximum number of rows to return in the NL response.
    :param sql_generation: The parameters used for SQL generation.
    :param metadata: Additional metadata to send with the prompt (can be None).
    """
    headers = {
        'accept': 'application/json',
        'Content-Type': 'application/json',
    }
    data = {
        "llm_config": llm_config,
        "max_rows": max_rows,
        "metadata": metadata if metadata is not None else {},
        "sql_generation": sql_generation
    }
    # Send the POST request
    response = requests.post(f"{url}/{prompt_id}/sql-generations/nl-generations", headers=headers, data=json.dumps(data))
    # Raise an exception for HTTP errors if any
    response.raise_for_status()
    return response.json()

# Example usage (Replace with actual parameters)
sql_nl_response = create_sql_nl_response(
    url='http://127.0.0.1/api/v1/prompts',
    # prompt_id='65d382a347cb9e5d515962e5',
    llm_config={"llm_name": "gpt-4-turbo-preview"},
    max_rows=100,
    sql_generation={
        "low_latency_mode": False,
        "llm_config": {"llm_name": "gpt-4-turbo-preview"},
        "evaluate": False,
        "metadata": {},
        "prompt": {
            "text": "What is the average rent price in LA?",
            "db_connection_id": "65baac8c35db7cdd1094be2e",
            "metadata": {}
        }
    }
)
print(sql_nl_response)

HTTPError: 400 Client Error: Bad Request for url: http://127.0.0.1/api/v1/prompts/65d382a347cb9e5d515962e5/sql-generations/nl-generations

In [16]:
import requests
import json

def generate_sql_nl(url, llm_config, max_rows, sql_generation, metadata=None):
    """
    Send a POST request to generate a SQL query and NL response for a given prompt.
    :param url: The URL to send the POST request to.
    :param llm_config: The configuration for the language model that will be used for NL generation.
    :param max_rows: The maximum number of rows to return in the NL response.
    :param sql_generation: The parameters used for SQL generation.
    :param metadata: Additional metadata to send with the prompt (can be None).
    """
    headers = {
        'accept': 'application/json',
        'Content-Type': 'application/json',
    }
    data = {
        "llm_config": llm_config,
        "max_rows": max_rows,
        "metadata": metadata if metadata is not None else {},
        "sql_generation": sql_generation
    }
    # Send the POST request
    response = requests.post(f"{url}/prompts/sql-generations/nl-generations", headers=headers, data=json.dumps(data))
    # Raise an exception for HTTP errors if any
    # response.raise_for_status()
    return response.json()

# Example usage (Replace with actual parameters)
sql_nl_response = generate_sql_nl(
    url='http://localhost/api/v1',
    llm_config={"llm_name": "gpt-4-turbo-preview"},
    max_rows=100,
    sql_generation={
        "low_latency_mode": False,
        "llm_config": {"llm_name": "gpt-4-turbo-preview"},
        "evaluate": False,
        "metadata": {},
        "prompt": {
            "text": "Доля самовывоза в пупкино",
            "db_connection_id": "65c8fae0d301990f32012b60",
            "metadata": {}
        }
    }
)
print(sql_nl_response)

{'id': '65d38c0247cb9e5d515962fb', 'metadata': {}, 'created_at': '2024-02-19T17:12:34.624944+00:00', 'llm_config': {'llm_name': 'gpt-4-turbo-preview', 'api_base': None}, 'sql_generation_id': '65d38bf447cb9e5d515962fa', 'text': "I don't know, the SQL query is invalid."}

In [ ]:
import requests
import json

def post_sql_generation(url, low_latency_mode, llm_name, db_connection_id, text, api_base=None, evaluate=False, metadata=None):
    """
    Send a POST request to generate SQL from a prompt using the specified API.

    :param url: The URL to send the POST request to.
    :param low_latency_mode: Boolean indicating whether to use low latency mode.
    :param llm_name: The name of the LLM configuration.
    :param db_connection_id: The database connection ID.
    :param text: The text prompt to generate SQL from.
    :param api_base: The API base URL (can be None).
    :param evaluate: Boolean indicating whether to evaluate the prompt.
    :param metadata: Additional metadata to send with the prompt (can be None).
    """
    headers = {
        'accept': 'application/json',
        'Content-Type': 'application/json',
    }

    data = {
        "low_latency_mode": low_latency_mode,
        "llm_config": {
            "llm_name": llm_name,
            "api_base": api_base,
        },
        "evaluate": evaluate,
        "metadata": metadata if metadata is not None else {},
        "prompt": {
            "text": text,
            "db_connection_id": db_connection_id,
            "metadata": {}
        }
    }

    # Send the POST request
    response = requests.post(url, headers=headers, data=json.dumps(data))

    # Raise an exception for HTTP errors if any
    response.raise_for_status()

    return response.json()

# Example usage (Replace with actual parameters)

response = post_sql_generation(
    url='http://127.0.0.1/api/v1/prompts/sql-generations',
    low_latency_mode=False,
    llm_name='gpt-4-turbo-preview',
    db_connection_id='65cb435763d3c09117e22634',
    text='На каких складах были заказы за январь этого года',
)

print(response)

In [52]:
import requests
import json

def post_sql_generation(url, low_latency_mode, llm_name, db_connection_id, text, api_base=None, evaluate=False, metadata=None):
    """
    Send a POST request to generate SQL from a prompt using the specified API.

    :param url: The URL to send the POST request to.
    :param low_latency_mode: Boolean indicating whether to use low latency mode.
    :param llm_name: The name of the LLM configuration.
    :param db_connection_id: The database connection ID.
    :param text: The text prompt to generate SQL from.
    :param api_base: The API base URL (can be None).
    :param evaluate: Boolean indicating whether to evaluate the prompt.
    :param metadata: Additional metadata to send with the prompt (can be None).
    """
    headers = {
        'accept': 'application/json',
        'Content-Type': 'application/json',
    }

    data = {
        "low_latency_mode": low_latency_mode,
        "llm_config": {
            "llm_name": llm_name,
            "api_base": api_base,
        },
        "evaluate": evaluate,
        "metadata": metadata if metadata is not None else {},
        "prompt": {
            "text": text,
            "db_connection_id": db_connection_id,
            "metadata": {}
        }
    }

    # Send the POST request
    response = requests.post(url, headers=headers, data=json.dumps(data))

    # Raise an exception for HTTP errors if any
    response.raise_for_status()

    return response.json()

# Example usage (Replace with actual parameters)

response = post_sql_generation(
    url='http://127.0.0.1/api/v1/prompts/sql-generations',
    low_latency_mode=False,
    llm_name='gpt-4-turbo-preview',
    db_connection_id='65cb435763d3c09117e22634',
    text='На каких складах были заказы за январь этого года',
)

print(response)

{'id': '65cb7167234478585d315ddd', 'metadata': {}, 'created_at': '2024-02-13T13:40:55.760990+00:00', 'prompt_id': '65cb7167234478585d315ddc', 'finetuning_id': None, 'status': 'VALID', 'completed_at': '2024-02-13T13:41:55.408559+00:00', 'llm_config': {'llm_name': 'gpt-4-turbo-preview', 'api_base': None}, 'sql': "SELECT DISTINCT w.name -- Select unique warehouse names\nFROM orders_aibi o\nJOIN warehouse_dict w ON o.del_store_id = w.id -- Join orders_aibi with warehouse_dict on delivery store ID\nWHERE o.created_dt >= '2024-01-01' AND o.created_dt <= '2024-01-31'; -- Filter orders created in January 2024", 'tokens_used': 9962, 'confidence_score': None, 'error': None}

In [53]:
response['id']

'65cb7167234478585d315ddd'

In [54]:
data = requests.get(f"http://127.0.0.1/api/v1/sql-generations/{response['id']}/execute")
data.json()

[{'name': 'Лечича 1329'},
 {'name': 'ЫЫЫ'},
 {'name': 'Защекина 1337'},
 {'name': 'Оппа 123'},
 {'name': 'Бубсина '},
 {'name': 'Кукуево 777'},
 {'name': 'Куево 228'}]

In [47]:
pd.DataFrame(data.json())

            name
0  Защекина 1337
1       Бубсина
2    Кукуево 777
3      Куево 228
4    Лечича 1329
5            ЫЫЫ
6       Оппа 123

In [48]:
pd.DataFrame(data.json()).total_orders.sum()

AttributeError: 'DataFrame' object has no attribute 'total_orders'